
@import url('root.css');

body
{

    background-image: url("../images/Home-hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main
{
    backdrop-filter: blur(5px);
    min-height: 80vh;
    min-width: 80%;
    color: white;
    margin:5% 10%;
    border: 2px solid black;
}
nav{
    height: 40px;
    /* background-color: #FFF; */
    display: flex;
}
nav ul{
    display: flex;
    height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 2.5px;
    background-color: turquoise;
}
nav ul li
{
    margin: 0 10px;

}
nav ul li a{
    text-decoration: none;
    color: black;
}